@import 'variables';
@import 'transitions';
@import 'overrides';
@import 'forms';

.clamp-width {
  max-width: $clampMaxWidth;
}

.cursor {
  cursor: pointer;
}

.list-view-add-button {
  width: 100%;
  max-width: $clampMaxWidth;
  margin-bottom: $listViewMarginBtm;
}

.list-view-card {
  margin-bottom: $listViewMarginBtm !important;
}

.list-view-card > .card-content {
  padding: 4px 14px;
}

.list-view-card > .card-content p {
  margin: 0 0 .4rem;
}
